@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* Fondo Gris Suave: Mucho mejor que el blanco puro */
  background-color: #f1f5f9; 
  @apply antialiased text-slate-900;
  margin: 0;
  min-height: 100vh;
}

/* Tarjetas Blancas con Sombra Suave (Bento Style) */
.glass-card {
  @apply bg-white border border-slate-200 shadow-xl shadow-slate-200/50;
}

/* Scrollbar sutil */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-300 rounded-full hover:bg-slate-400;
}